/******************************************************************
Site Name: BREW
Author: Dan Brown

Stylesheet: Global Stylesheet

Styles and classes used throughout the entire BREW framework

******************************************************************/

body {
  padding-top: @navbar-height; // THIS IS IF YOU HAVE top-nav-fixed ENABLED
}